<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Matthew Croall</title>

    <link rel="stylesheet" href="/assets/css/main.css?v=">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body class="dark:bg-gray-800 dark:text-white font-lato">
    <header class="sticky top-0 bg-gradient-to-r from-indigo-800 to-blue-500 text-white sm:subpixel-antialiased md:antialiased">
      <div class="max-w-screen-md mx-auto flex items-center">
        <h1 class="py-4 text-2xl">
          <a href="http://localhost:4000/" class="flex items-center">
            Matthew Croall
          </a>
        </h1>

        <nav>
          <a href="/" class="text-sm ml-4 bg-black bg-opacity-20 hover:bg-opacity-50">
            [ Home ]
          </a>
          <a href="/resume" class="text-sm ml-4 bg-black bg-opacity-20 hover:bg-opacity-50">
            [ Resume ]
          </a>
        </nav>

        <aside class="ml-auto py-4">
          <a href="https://github.com/phoozle" target="_blank">Github</a>
        </aside>
      </div>
    </header>

    <section class="mt-4 max-w-screen-md mx-auto">
      {{ content }}
    </section>

    <footer>
    </footer>
  </body>
</html>
